{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" class="form-control mx-auto w-auto" required>
                    <option value="" disabled selected>Select an action</option>
                {% for stock in symbols %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <input name="shares" type="number" min="1" placeholder="Shares" class="form-control mx-auto w-auto" required>
        </div>

        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
{% endblock %}
