{% extends "layout.html" %}

{% block title %}
    Stocks
{% endblock %}

{% block main %}
    <h4>Lista de Ações Disponíveis</h4>
    <table class="table table-striped table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Current Price</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>${{ "%.2f"|format(stock.price) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
